<apx-chart
  [series]="chartOptions.series"
  [chart]="chartOptions.chart"
  [stroke]="chartOptions.stroke || {}"
  [dataLabels]="chartOptions.dataLabels || {}"
  [grid]="chartOptions.grid || {}"
  [xaxis]="chartOptions.xaxis || {}"
  [yaxis]="chartOptions.yaxis || {}"
  [fill]="chartOptions.fill || {}"
  [markers]="chartOptions.markers || {}"
  [tooltip]="chartOptions.tooltip || {}"
  [plotOptions]="chartOptions.plotOptions || {}"
  [labels]="chartOptions.labels || []"
  [legend]="chartOptions.legend || {}"
  [colors]="chartOptions.colors || []"
  [title]="chartOptions.title || {}"
  [subtitle]="chartOptions.subtitle || {}">
</apx-chart>
