<div class="row mt-4">
  <div class="col-lg-4 col-md-6 mt-4 mb-4">
    <div class="card z-index-2">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">

        <div
          class="cardmain bg-gradient-primary active shadow-primary border-radius-lg py-3 pe-1 text-center align-items-center"
          height="170">
          <!-- Teks di tengah -->
          <div class="chart">
            <i class="fas fa-bolt fs-1"></i>
            <h1 class="mb-0 fs-3">ss</h1>
            <!-- Grafik atau elemen lainnya -->
            <canvas id="chart-bars" class="chart-canvas">
              <div class="card">

              </div>
            </canvas>
          </div>
        </div>



      </div>

      <div class="card-body">
        <h6 class="mb-0">Sensor Value</h6>
        <hr class="dark horizontal" />
        <div class="d-flex">
          <i class="material-icons text-sm my-auto me-1"></i>
          <p class="mb-0 text-sm"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mt-4 mb-4">
    <div class="card z-index-2">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
        <div
          class="cardmain2 bg-gradient-primary active shadow-primary border-radius-lg py-3 pe-1 text-center align-items-center"
          height="170">
          <!-- Teks di tengah -->
          <div class="chart">
            <i class="fas fa-bolt fs-1"></i>
            <h1 class="mb-0 fs-3"></h1>
            <!-- Grafik atau elemen lainnya -->
            <canvas id="chart-bars" class="chart-canvas">
              <div class="card">
              </div>
            </canvas>
          </div>

        </div>
      </div>
      <div class="card-body">
        <h6 class="mb-0">Voltage</h6>
        <hr class="dark horizontal" />
        <div class="d-flex">
          <i class="material-icons text-sm my-auto me-1"></i>
          <p class="mb-0 text-sm"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mt-4 mb-4">
    <div class="card z-index-2">
      <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
        <div
          class="cardmain3 bg-gradient-primary active shadow-primary border-radius-lg py-3 pe-1 text-center align-items-center"
          height="170">
          <!-- Teks di tengah -->
          <div class="chart">
            <i class="fas fa-bolt fs-1"></i>
            <h1 class="mb-0 fs-3">34</h1>
            <!-- Grafik atau elemen lainnya -->
            <canvas id="chart-bars" class="chart-canvas">
              <div class="card">

              </div>
            </canvas>
          </div>
        </div>
      </div>

      <div class="card-body">
        <h6 class="mb-0">Suhu dalam Celcius</h6>
        <hr class="dark horizontal" />
        <div class="d-flex">
          <i class="material-icons text-sm my-auto me-1"></i>
          <p class="mb-0 text-sm"></p>
        </div>
      </div>
    </div>
  </div>

  <app-leaflet-map></app-leaflet-map>
</div>
<!-- data.component.html -->
